<div data-role="view" data-title="View" data-layout="main" data-model="app.playerView" data-show="app.playerView.onShow" data-after-show="app.playerView.afterShow" id="playerViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.playerView.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div data-role="content">
        <div style="text-align: center">
            <h1>Playa</h1>
        </div>
    </div>
</div>