<div data-role="view" data-title="Where’s NFPA" data-layout="main" data-model="app.subCategoryView" data-show="app.subCategoryView.onShow" data-after-show="app.subCategoryView.afterShow" id="subCategoryViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.subCategoryView.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    Hello

    <!-- START_CUSTOM_CODE_subCategoryView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_subCategoryView -->
</div>